<p>Monto Venta: </p>
<form method='post' action ='/cambio'>
    <input type='text' name='monto_venta_ingresado'>
    <p>Efectivo</p>
    <input type='text' name='efectivo_ingresado'>
    <input type='submit' value='Ingresar'>
</form>



